#links tr{
    height:40px;
    line-height: 40px;
}

.link_title{
    color:#b010eb;
    width:200px;
}

.link_url{
    width:600px;
}

.link_url a{
    color:#0c5084;
}

.flag{
    width:10px;
    color:#0c5084;
}

#res_btn{
    display: none;
}