#container{
	width:746px;
	height:450px;
	background-image: url('/images/login_bg.png');
	left:50%;
	position:relative;
	margin-left:-328px;
	margin-top:225px;
}

#form_el{
	position:absolute;
	margin-top:202px;
	margin-left:98px;

}


.login_span{
	height:30px;
	width:225px;
	float:left;
	display:inline-block;
	border:0px;
	background:#02173a  url("/images/login_input_l.png") no-repeat ;
	margin-left:3px;
}

.login_input{
	font-size: 14px;
	color:white;
	height:28px;
	line-height: 28x;
	width:205px;
	border: 0px;
	background:#02173a  url("/images/login_input_r.png") no-repeat right;
	margin-left:20px;
}

.login_btn_span{
	height:30px;
	width:85px;
	float:left;
	margin-left:5px;
	display:inline-block;
	background:#a5c8ff url("/images/login_btn_l.png") no-repeat ;
}

.login_btn{
	font-size:14px;
	color:black;
	height:30px;
	line-height: 30px;
	width:85px;
	border: 0px;
	margin-left: 7px;
	background:#a5c8ff  url("/images/login_btn_r.png") no-repeat right;
	border-radius:10px;
	vertical-align: middle;
	cursor:pointer;
}

#tips{
    width:200px;
    background: #001d4b;
    margin-top:30px;
    margin-left:10px;
    color:#85a6dc;
}

body{

}