<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="<!@{$smarty.const.WEBROOT}@>css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<!@{$smarty.const.WEBROOT}@>js/jquery-1.7.2.js"></script>
</head>
<body onkeydown="enterSubmit(event)">
<div id="login_tip">
    <!@{$error_msg}@>
</div>
<div id="container">
<div id="wrap">
<div id="login">
    <div id="login_title" ></div>
    <form action="<!@{Smarty_site_url action_method='login/dologin'}@>" method="post" id="loginform">
        <p>
            <span><img src="<!@{$smarty.const.WEBROOT}@>images/login_07.gif" /></span>
            <input type="text" name="username" size="20" id="username" class="textinput" />
        </p>
        <p>
            <span><img src="<!@{$smarty.const.WEBROOT}@>images/login_10.gif" /></span>
            <input type="password" name="password" size="20" id="password" class="textinput" />
        </p>
        <div class="login_bar">
            <img src="<!@{$smarty.const.WEBROOT}@>images/login_13.png" id="btn" onclick = 'login()'/>
        </div>
    </form>
</div>
</div>
<script type="text/javascript" >
    function login(){
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if(username != '' && password != ''){
            document.getElementById('loginform').submit();
        }
    }

    function enterSubmit(event){
        var e = event || window.event;
        if(e.keyCode == 13){
            login();
        }
    }
</script>
</body>
</html>