<div class="pageFormContent">
	<form id="perform" method="post" action="<!@{Smarty_site_url action_method='admin/save_module_permission'}@>" onsubmit="return validateCallback(this, navTabAjaxDone)">
		<input type="hidden" name ="permission" id="permission_values" value="0" />

		<fieldset>
			<legend>权限分配</legend>
			<dl class="nowrap">
				<dt>管理员:</dt>
				<dd>
					<select name = "id" id="seeManager" class="combox" onchange="manager_permission()">
						<option value="">请选择</option>
						<!@{foreach from = $admins item = element}@>
						<option value="<!@{$element.id}@>"><!@{$element.admin}@></option>
						<!@{/foreach}@>
					</select>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>权限:</dt>
				<dd>
					<ul id="ul_permission">
                        <!@{$permissions}@>
					</ul>
				</dd>
			</dl>
			
		</fieldset>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="do_submit();">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
    </form>
</div>
<script>

function manager_permission(){
	var id = $("#seeManager").val();
	var url = "<!@{Smarty_site_url action_method='admin/check_permission_by_adminid'}@>";
	$.ajax({
		url : url,
		data: "id="+id,
		type: "post",
		dataType: "html",
		success:function(data){
			  $("#ul_permission").html(data);
		}
	});
}

function do_submit(){
	var cks = $("input:checked");
	var ck_permission = '';
	$(cks).each(function(){
		ck_permission += $(this).val()+',';
	});
	ck_permission = ck_permission.substr(0,ck_permission.length -1).replace(/\s+/g,'');
	if(ck_permission != ''){
		$("#permission_values").val(ck_permission);
	}
	$("#perform").submit();
}
</script>

<style>
    #ul_permission li{
        float:left;
        margin-right:10px;
    }
</style>