<div id="leftside">
    <div id="sidebar_s">
        <div class="collapse">
            <div class="toggleCollapse"><div></div></div>
        </div>
    </div>
    <div id="sidebar">
        <div class="toggleCollapse"><h2>主菜单</h2><div>收缩</div></div>

        <div class="accordion" fillSpace="sidebar">



<div class="accordionHeader" <!@{$admin_display}@> >
            <h2><span>Folder</span>管理员管理</h2>
</div>
<div class="accordionContent" <!@{$admin_display}@> >
        <ul class="tree treeFolder">
            <li><a href="javascript:;">管理员</a>
                <ul>
                    <li><a href="<!@{Smarty_site_url action_method='admin'}@>" target="navTab" rel="admin_list">列表</a></li>
                    <li><a href="<!@{Smarty_site_url action_method='admin/edit'}@>" target="navTab" rel="admin_edit">添加</a></li>
                </ul>
            </li>
            <li><a href="javascript:;">权限分配</a>
                <ul>
                    <li><a href="<!@{Smarty_site_url action_method='admin/module_permission'}@>" target="navTab" rel="adminp_list">模块权限</a></li>
                </ul>
            </li>
        </ul>
</div>


<div class="accordionHeader" <!@{$site_display}@> >
    <h2><span>Folder</span>全局设置</h2>
</div>
<div class="accordionContent" <!@{$site_display}@>>
<ul class="tree treeFolder">
    <li><a href="javascript:;">运行环境</a>
        <ul>
            <li><a href="<!@{Smarty_site_url action_method='info'}@>" target="navTab" rel="main">phpinfo</a></li>
            <li><a href="<!@{$smarty.const.WEBROOT}@>dwz.frag.xml" target="navTab" external="true">dwz.frag.xml</a></li>
        </ul>
    </li>

    <li><a>站点设置</a>
        <ul>
            <li><a href="<!@{Smarty_site_url action_method='site'}@>" target="navTab" rel="site">设置</a></li>
        </ul>
    </li>
</ul>
</div>



<div class="accordionHeader" <!@{$content_display}@> >
<h2><span>Folder</span>内容管理</h2>
</div>
<div class="accordionContent" <!@{$content_display}@> >
<ul class="tree treeFolder">
    <li><a href="javascript:;">栏目</a>
        <ul>
            <li><a href="<!@{Smarty_site_url action_method='arctype'}@>" target="navTab" rel="arctype_list">列表</a></li>
            <li><a href="<!@{Smarty_site_url action_method='arctype/edit'}@>" target="navTab" rel="arctype_edit">添加</a></li>
        </ul>
    </li>
    <li><a href="javascript:;">新闻</a>
        <ul>
            <li><a href="<!@{Smarty_site_url action_method='news'}@>" target="navTab" rel="news_list">列表</a></li>
            <li><a href="<!@{Smarty_site_url action_method='news/edit'}@>" target="navTab" rel="news_edit">添加</a></li>
        </ul>
    </li>
</ul>
</div>



<div class="accordionHeader" <!@{$table_display}@>>
<h2><span>Folder</span>数据字典</h2>
</div>
<div class="accordionContent" <!@{$table_display}@>>
<ul class="tree">
    <li><a href="<!@{Smarty_site_url action_method='table'}@>" target="navTab" rel="table_list">列表</a></li>
    <li><a href="<!@{Smarty_site_url action_method='table/edit'}@>" target="navTab" rel="table_add">新建数据表</a></li>
    <li><a href="<!@{Smarty_site_url action_method='test'}@>" target="navTab" rel="table_add">测试list</a></li>
    <li><a href="<!@{Smarty_site_url action_method='test/edit'}@>" target="navTab" rel="table_add">测试add</a></li>
</ul>
</div>

<div class="accordionHeader">
<h2><span>Folder</span>工具</h2>
</div>
<div class="accordionContent" >
<ul class="tree">
    <li><a href="<!@{Smarty_site_url action_method='crawler'}@>" target="navTab" rel="table_list">坏链检测</a></li>
</ul>
</div>




</div>
</div>
</div>