
<form id="pagerForm" method="post" action="<!@{Smarty_site_url action_method='table'}@>">
    <input type="hidden" name="pageNum" value="<!@{$page.currentPage}@>" />
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" rel="pagerForm" action="<!@{Smarty_site_url action_method='table'}@>" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="<!@{Smarty_site_url action_method='table/edit'}@>?op=edit&tableName={tableName}" target="navTab" ><span>编辑</span></a></li>
            <li><a class="delete" href="<!@{Smarty_site_url action_method='table/del'}@>" target="selectedTodo" rel="ids" postType="string" title="确定要删除吗?"><span>删除</span></a></li>
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="138">
        <thead>
        <tr>
            <th width="1"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
            <th width="300">数据表</th>
            <th width="300">表名</th>
            <th width="300">自动表单</th>
        </tr>
        </thead>
        <tbody>
        <!@{foreach from = $list item = element}@>
        <tr target="tableName" rel="<!@{$element.tableName}@>" >
            <td><input name="ids" value="<!@{$element.id}@>" type="checkbox"></td>
            <td><!@{$element.tableName}@></td>
            <td><!@{$element.desp}@></td>
            <td><!@{$element.auto_form_fields}@></td>
        </tr>
        <!@{/foreach}@>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>共: <font color="red"><!@{$page.totalCount}@></font> 条记录</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="<!@{$page.totalCount}@>" numPerPage="<!@{$page.numPerPage}@>" pageNumShown="10" currentPage="<!@{$page.currentPage}@>"></div>
    </div>
</div>
